.idea/
Common/config/local.json
license.lic
App_Data/
*/node_modules
FileConverter/bin/*.dll
FileConverter/bin/*.dylib
FileConverter/bin/*.exe
FileConverter/bin/x2t
FileConverter/bin/*.S
FileConverter/bin/font_selection.bin
FileConverter/bin/HtmlFileInternal
DocService/npm-debug.log
build
node_modules
SpellChecker/dictionaries
